.parallax {
    position: relative;    
    display: flex;    
    justify-content: center;    
    align-items: center;    
    height: calc(100vh);
    /* background: url('../../assets/bg1.jpg') no-repeat;
    background-size: cover; 
    background-position: center;
    background-attachment: fixed; */
    overflow: hidden;
}

#text{
    position: absolute;
    font-size: 5rem;
    color: #1b2831;
    text-shadow: 2px 4px 5px #f9f9f9;
}


.parallax img{
    position: absolute;
    width: 100%;
    left: 0;
    top: 0;
    pointer-events: none;
}

.parallax img#gate-left {
    position: fixed;
    height: 100%;
    transform: translateX(-282px);
}

 
.parallax img#gate-right {
    position: fixed;
    height: 100%;
    transform: translateX(305px);
}

.parallax img#grass {
    height: 100%;
}

.parallax img#bgImage{
    position: fixed;
    z-index: -1;
}

.sec{
    position: relative;
    background-color: #020912;
    padding: 50px 100px;
}

.sec h2{
    font-size: 3rem;
    color: #fff;
    margin-bottom: 10px;
}


.sec p{
    font-size: 1rem;
    color: #fff;
    font-weight: 300;
    text-align: justify;
    
}

